/*Especificidad: (0, 0, 2)*/
main > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Especificidad: (0, 0, 3)*/
main >section >h3{
    text-align: center;
    flex-basis: 100%;
}

/*Especificidad: (0, 0, 3)*/
main > section > article{
    width: 20em;
    margin: 2em;
    border: 0.5em solid #005C4D;
    border-radius: 10%;
    background-color: #00035C;
    color: #B8FF70;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Especificidad: (0, 1, 2)*/
article > h4:first-of-type,
article > p:first-of-type{
    flex-basis: 100%;
    text-align: center;
}

/*Especificidad: (0, 1, 2)*/
article > h4:nth-of-type(2),
article > p:nth-of-type(2),
article > h4:last-of-type,
article > p:last-of-type{
    flex-basis: 50%;
    text-align: center;
}



