
/*Especificidad: (0, 0, 1)*/
main {
    width: 60%;
    height: 20em;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5% 3%;
    align-items: center;
}

/*Especificidad: (0, 0, 1)*/
h2 {
    grid-column: 1 / -1;
    text-align: center;
}

/*Especificidad: (0, 0, 2)*/
/*Advertencia por no especificar color de primer plano -> Lo hereda de body*/
main > div {
    height: auto;
    background-color: #0007;
    border: 0.5em solid black;
    aspect-ratio: 1;
    border-radius: 50%;
}

/*Especificidad: (0, 1, 1)*/
button:first-of-type {
    grid-column: 2 / span 1;
}

/*Especificidad: (0, 1, 1)*/
button:nth-of-type(2) {
    grid-column: 3 / span 1;
}

/*Especificidad: (0, 0, 2)*/
main p{
  grid-column: 1 / -1;
  text-align: center;
}

/*Especificidad: (0, 0, 2)*/
main form{
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
}

/*Especificidad: (0, 0, 2)*/
form > input{
  flex-basis: 22%;
}

/*Especificidad: (0, 1, 2)*/
form > input:last-of-type{
  flex-basis: 100%;
  width: 50%;
  margin: 1em 25%;
}

/*Advertencia por no especificar color de primer plano -> Lo hereda de body*/
/*Advertencia por redefinición de background-color -> Es para la animación así que hay que definirlo dos veces*/
@keyframes redsun{
  from{background-color: #0007;}
  to{background-color: #EC0909;}
}

/*Advertencia por no especificar color de primer plano -> Lo hereda de body*/
/*Advertencia por redefinición de background-color -> Es para la animación así que hay que definirlo dos veces*/
@keyframes out{
  from{background-color: #EC0909;}
  to{background-color: #0007;}
}

/*--------------LOAD ANIMATION----------------------*/
/*Especificidad: (0, 2, 2)*/
main.load div:first-of-type{
  animation-name: redsun;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.load div:nth-of-type(2) {
  animation-name: redsun;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.load div:nth-of-type(3) {
  animation-name: redsun;
  animation-duration: 0.5s;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.load div:nth-of-type(4) {
  animation-name: redsun;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

/*--------------UNLOAD ANIMATION----------------------*/

/*Especificidad: (0, 2, 2)*/
main.unload div:first-of-type{
  animation-name: out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.unload div:nth-of-type(2) {
  animation-name: out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.unload div:nth-of-type(3) {
  animation-name: out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

/*Especificidad: (0, 2, 2)*/
main.unload div:nth-of-type(4) {
  animation-name: out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

